.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper .container {
  width: 50%;
  max-width: 750px;
}

.wrapper .review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background: #eee;
  margin-top: 1rem;
  border-radius: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}

.wrapper .review p {
  margin: 0;
}

.first-name {
  font-size: 20px;
}

.last-name {
  font-size: 20px;
}

.review-form p {
  font-size: 30px;
}

.review-form label {
  margin-right: 10px;
}

.review-form input {
  border-radius: 8px;
  border: 1px solid;
}

.review-form textarea {
  resize: vertical;
}

.form-group {
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}
